<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring - Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
            <a href="/"><img src="../icons/spring-logo.svg" alt="logo"></a>
            </div>
            <div class="search">
                <form th:action="@{/search/{word}}" th:method="get">
                <input type="search" placeholder="Enter product name" name="search">
                <button type="submit" class="search-btn" value="Search"><img src="../icons/search.svg" alt="search"></button>
                </form>
            </div>

            <div class="icon-container">
                <td th:if="${session.user != null}">
                    <a th:href="@{/logout}" class="button-logout">Logout</a>
                </td>
                <td th:if="${session.user == null}">
                    <a th:href="@{/login}" class="button">Login</a>
                </td>
                <a th:href="@{/cart}"><img src="../icons/cart.svg" alt="cart" ></a>
                <a th:href="@{'/user/' + ${session.user?.username}}"><img src="../icons/user.svg" alt="user" ></a>
            </div>
        </nav>
    </header>
    <main class="grid">
        <div class="container" style="display:grid; justify-content:stretch;">
            <th:block th:if="${product == null}">
                <p>No products in cart</p>
            </th:block>
    
        <table th:if="${product != null}">
            <thead style="text-align: left;">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${session.user == null}">
                    <td style="grid-column:span 12">You are not logged in</td>
                </tr>
                <tr data-th-each="product: ${product}" th:if="${session.user != null}">
                    <td><img th:src="${product.thumbnail}" alt="Product Thumbnail" width="50px"
                            style="max-height:200px; object-fit: cover; object-position:top;" /></td>
                    <td data-th-text="*{product.title}"></td>
                    <td data-th-text="'$' + ${#numbers.formatDecimal(product.price * (1 - product.discountPercentage / 100), 1, 'COMMA', 2, 'POINT')}"></td>
                    <td data-th-text="${session.qty}"></td>
                    <td>
                        <a th:href="@{'/product/' + *{product.id}}" class="button">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>
</body>
</html>