<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Springbay - Home</title>
    <link href="style.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
        <nav class="navbar">
            <div class="logo">
                <a href="/">Logo</a>
            </div>
            <div class="hamburger-menu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-menu hide">
                <a href="#">Home</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
                <a href="#">Sign Up</a>
            </div>
            <div class="search">
                <form action="#">
            <input type="search" placeholder="What are you looking for?" name="search">
            <input type="submit" name="search" class="search" value="Search">
                </form>
            </div>
        </nav>

    <div>
    <h1>Springbay</h1>

    <h2>Welcome, Name</h2>
    <!-- *{user.userName} -->

    <!-- Slideshow container -->
    <div class="slideshow-container fade">

        <!-- Full images / Content -->
        <div class="slideshow-wrapper">
        <div class="Containers">
        <img class="cropped-img" src="https://images.unsplash.com/photo-1486401899868-0e435ed85128?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:100%">
        </div>
    
        <div class="Containers">
        <img class="cropped-img" src="https://images.unsplash.com/photo-1567721913486-6585f069b332?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:100%">
        </div>
    
        <div class="Containers">
        <img class="cropped-img" src="https://images.unsplash.com/photo-1556781932-381b3225022f?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:100%">
        </div>
        
        </div>
    </div>
    <br>
    
    <!-- The dots -->
    <div style="text-align:center">
        <span class="dots" onclick="currentSlide(1)"></span>
        <span class="dots" onclick="currentSlide(2)"></span>
        <span class="dots" onclick="currentSlide(3)"></span>
    </div> 

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Rating</th>
                    <th>Stock</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Thumbnail</th>
                    <th>Images</th>

                </tr>
            </thead>
            <tbody>
                
                <tr data-th-each="product: ${product}">
                    <td data-th-text="*{product.id}"></td>
                    <td data-th-text="*{product.title}"></td>
                    <td data-th-text="*{product.description}"></td>
                    <td data-th-text="*{product.price}"></td>
                    <td data-th-text="*{product.discountPercentage}"></td>
                    <td data-th-text="*{product.rating}"></td>
                    <td data-th-text="*{product.stock}"></td>
                    <td data-th-text="*{product.brand}"></td>
                    <td data-th-text="*{product.category}"></td>
                    <td data-th-text="*{product.thumbnail}"></td>
                    <td data-th-text="*{product.images}"></td>
                    <td>
                        <a th:href="@{/events/register}" class="btn btn-secondary">Register</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Sequi maxime ipsa assumenda
        nam, ea beatae nemo dolorum blanditiis
        inventore neque alias, praesentium eum,
        dicta dolor autem reiciendis explicabo
        temporibus consectetur.
    </p>

    <div class="subheading">
    Today's
    </div>

    <div class="flash-sales">
    <h2>Flash Sales</h2>
    Days Hours Minutes Seconds

    </div>

    <h2>Browse By Categories</h2>

    <h2>Best Selling Products</h2>
    </div>

</body>
<script src="index.js"></script>
</html>