<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring - Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
            <a href="/"><img src="../icons/spring-logo.svg" alt="logo"></a>
            </div>
            <div class="search">
                <form th:action="@{/search/{word}}" th:method="get">
                <input type="search" placeholder="Enter product name" name="search">
                <button type="submit" class="search-btn" value="Search"><img src="../icons/search.svg" alt="search"></button>
                </form>
            </div>

            <div class="icon-container">
                <td th:if="${session.user != null}">
                    <a th:href="@{/logout}" class="button-logout">Logout</a>
                </td>
                <td th:if="${session.user == null}">
                    <a th:href="@{/login}" class="button">Login</a>
                </td>
                <a th:href="@{/cart}"><img src="../icons/cart.svg" alt="cart" ></a>
                <a th:href="@{'/user/' + ${session.user?.username}}"><img src="../icons/user.svg" alt="user" ></a>
            </div>
        </nav>
    </header>
    <main class="grid">
        <div class="search-results">
            <p>Total search results:
            <span th:text="'(' + *{searchResult.size()} + ')'"></span></p>
            </div>
            <!-- http://localhost:8081/api/search/phone -->
            <a style="grid-column: span 2" th:href="'http://springbay.up.railway.app/api/search/' + ${word}" class="button">View JSON</a>
 
        <div class="container">
            <th:block th:if="${searchResult == null or searchResult.size() == 0}">
                <p>No search results matched</p>
            </th:block>
    
        <table class="table table-striped" th:if="${searchResult != null and searchResult.size() > 0}">
            <thead style="text-align: left;">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="product: ${searchResult}">
                    <td><img th:src="${product.thumbnail}" alt="Product Thumbnail" width="50px"
                            style="max-height:200px; object-fit: cover; object-position:top;" /></td>
                    <td data-th-text="*{product.title}"></td>
                    <td data-th-text="*{product.description}"></td>
                    <td data-th-text="'$' + ${#numbers.formatDecimal(product.price * (1 - product.discountPercentage / 100), 1, 'COMMA', 2, 'POINT')}"></td>
                    <td data-th-text="*{product.rating}"></td>
                    <td>
                        <a th:href="@{'/product/' + *{product.id}}" class="button">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>
</body>
</html>