<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring - Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
            <a href="/"><img src="../icons/spring-logo.svg" alt="logo"></a>
            </div>
            <div class="search">
                <form th:action="@{/search/{word}}" th:method="get">
                <input type="search" placeholder="Enter product name" name="search">
                <button type="submit" class="search-btn" value="Search"><img src="../icons/search.svg" alt="search"></button>
                </form>
            </div>

            <div class="icon-container">
                <td th:if="${session.user != null}">
                    <a th:href="@{/logout}" class="button-logout">Logout</a>
                </td>
                <td th:if="${session.user == null}">
                    <a th:href="@{/login}" class="button">Login</a>
                </td>
                <a th:href="@{/cart}"><img src="../icons/cart.svg" alt="cart" ></a>
                <a th:href="@{'/user/' + ${user.username}}"><img src="../icons/user.svg" alt="user" ></a>
            </div>
        </nav>
    </header>
    <main class="grid">
    <h4 style="grid-column: span 12" th:if="${session.user == null}">You are not logged in</h4>
    <h4 style="grid-column: span 12" th:if="${session.user != null}">Name: <span th:text="*{user.username}"></span></h4>
    <h4 style="grid-column: span 12" th:if="${session.user != null}">Payment Method: Credit/Debit</h4>
    </main>
</body>
</html>